*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.hero-circle{
 background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
 height: 860px;
}

.sub-hero-circle{
  display: flex;
  /* justify-content: space-between; */
  /* gap: 10px; */
  padding-left: 140px;
 }
 .hero-content{
  color: #fff;
  /* align-items: flex-start; */
  
 }
 .hero-content h1{
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  width: 550px;
  margin-top: 180px;
  text-align: left;
 }
 .vector{
  position: relative;
  left: -185px;
  top: -25px;
 }
 .hero-content .ehya{
 font-size: 16px;
 font-weight: 400;
 line-height: 26px;
 width: 440px;
 text-align: left;
 }
 .fl{
  margin-top: 32px;
  display:flex;
  align-items: center;
gap: 42px;
  margin-bottom: 173px;
 }
 .btn-fl{
  width: 197px;
  height: 57px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  color: rgba(0, 168, 219, 1);
 font-size: 16px;
 font-weight: 500px;
 }

 .col{
  text-decoration: none;
  color: white;
 }
 .col:hover{
  text-decoration: underline;
  color: gold;
 }

 .heroOverview{
  margin-top: 80px;
  position: absolute;
  right: 0px;
  
 }

 .heroOverviewShape{
  position: relative;
  left: 520px;
  top:100px
 }

 /* Mobile Responsiveness */
 @media screen and (max-width: 800px) {
  .hero-circle{
    height: 720px;
  }
  header{
   display: flex;
   justify-content: space-between;
   padding: 2rem 2rem;
  }
 
  .hamburger{
   color: #fff;
   font-size: 35px;
   font-weight: bolder;
   display: block;
   position: absolute;
   right: 30px;
   top: 20px;
   cursor: pointer;
   /* z-index: 1; */
  }
  .close{
   /* z-index: 1; */
   /* display: none; */
   position: absolute;
  top: 20px;
  right: 30px;
  }
  .navbar{
   /* background-color: transparent; */
   
   top: 0px;
   /* text-align: right; */
  }
  .menu{
   display: none;
   right: 0px;
   /* position: fixed; */
   justify-content: center;
   width: 300px;
   background-color: #262626;
   height: 88vh;
   border-radius: 20% 0 0 60%;
   /* display: flex; */
   flex-direction: column;
   position: absolute;
   top: 12vh;
   text-align: right;
   /* margin: 25px; */
  }
  .show-menu{
   display: block;
  }
  .nav-item {
   list-style-type: none;
   margin: 25px;
  }
 
  .nav-links{
   padding-right: 0px;
   color: #eee;
   /* font-weight: 300px; */
   letter-spacing: 1px;
   text-transform: uppercase;
   position: relative;
  }
  .btn1{
   display: none;
  }
  .nav-links::before, 
  .nav-links::after{
   content: "";
   width: 100%;
   height: 2px;
   background-color: antiquewhite;
   position: absolute;
   left: 0;
   transform: scaleX(0);
   transition-delay: 0.5s;
  }
 
  .nav-links::after{
   bottom: 0;
   transform-origin: right;
 
  }
  .nav-links::before{
   top: 0px;
   transform-origin: left;
  }
 
  .nav-links:hover::before, 
  .nav-links:hover::after{
   transform: scaleX(1);
  }
  .hide-hamburger {
    display: none;
  }
  .show-close {
   display: block;
 }
 .deactive {
  display: none;
 }
 .sub-hero-circle{
  padding-left: 2rem;
 }
 .hero-content h1{
  margin-top: 20px;
  width: 300px;
  font-size: 54px;
 }
 .vector{
  position: relative;
  left: -60px;
 }
 .hero-content .ehya{
  width: 300px;
 }
 .fl{
  margin-bottom: 20px;
  gap: 20px;
 }
 .btn-fl{
  width: 137px;
  height: 57px;
 
 }

 .heroOverview{
  display: none;
 }

 .heroOverviewShape{
  display: none;
 }
 
 }