.section4{
 padding-left: 140px;
 padding-right: 140px;
 margin-bottom: 176px;
}
.section4-1{
 display: flex;
 margin-top: 130px;
 gap: 60px;
 margin-bottom: 100px;
}
.review{
 margin-left: 40px;
 margin-top: 14px;
}
.review p{
 width: 463px;
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-style: italic;
font-weight: 400px;
line-height: 32px;

}

.testimonial {
    position: relative;
  }
  .mySlides {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
    position: absolute;
    left: -40px;
  }

  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: #034D82;;
    color: white;
    border-radius: 50%;
  }
  .dot-container {
    padding: 20px;
  }
  

  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
  }
  

  .active, .dot:hover {
    background-color: #717171;
  }

.testimonial-image{
 margin-left: 10px;
}
.name{

 margin-left: 10px;
 width: 300px;
}
.name h3{
 color: rgba(3, 77, 130, 1);
font-size: 20px;
font-weight: 700;
margin-bottom: 10px;

}
.name p{
 color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;

}
.sub-sec4 h3{
 width: 463px;
 color: rgba(3, 77, 130, 1);
font-size: 36px;
font-weight: 700;
line-height: 52px;
}
.sub-sec4 .from{
 margin-top: 24px;
 color: #90A3B4;
 font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
width: 421px;

}
.sub-4{
 background: linear-gradient(270.04deg, #01B8D9 0.05%, #24CEED 97.84%);
 border-radius: 8px;
}
.sub-sub{
 display: flex;
}
.sub51{
 color: #FFFFFF;
}

.sub41 .gr{
font-size: 36px;
font-weight: 700;
line-height: 44px;
width: 355px;
margin-top: 65px;
margin-left: 72px;
}

.sub41 p:nth-child(even){
 width: 271px;
font-size: 14px;
font-weight: 500;
line-height: 32px;
margin-top: 20px;
margin-left: 72px;
}

.sub-section4 .immg{
 display: flex;
 margin-left: 72px;
 gap: 104px;
 margin-top: 10px;
 align-items: center;
 margin-bottom: 64px;
}
.item1{
 position: absolute;
 left: 235px;
}
.item2{
 position: absolute;
 left: 258px;
}
.item3{
 position: absolute;
 left: 281px;
}
.item4{
 position: absolute;
 left: 304px;
}
.an {
 font-size: 14px;
 font-weight: 500px;
}
.sub42-btnc{
 position: absolute;
}

.sub42-btn{
 width: 204px;
 height: 57px;
 background-color: #FFFFFF;
 border: none;
 position: relative;
 top: 160px;
 left: 650px;
 color: rgba(0, 184, 217, 1);
 border-radius: 4px;
 
}