
.patners{
 display: flex;
 margin-top: 131px;
 justify-content: space-around;
 /* gap: 100px; */
 margin-left: auto;
 margin-right: auto;
 width: 70%;
}
.patners2{
 display: flex;
 margin-top: 300px;
 /* gap: 302px; */
 /* position: absolute; */
 /* margin-left: 140px; */
}
.phone1{
 position: relative;
 left: -600px;
}
.parabolic{
 position:absolute;
 top: 400px;
 left: 140px;
 /* height: 300px; */
}

.patners2-content h3{
 color: rgba(3, 77, 130, 1);
 margin-top: 200px;
font-size: 36px;
font-weight: 700;
line-height: 52px;
max-width: 390px;
text-align: left;
}

.patners2-content p{
margin-top: 24px;
color: rgba(144, 163, 180, 1);
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 485px;
text-align: left;
}
.patners2-content .ll{
 color: rgba(4, 170, 221, 1);
font-size: 16px;
font-weight: 700;
color: #04AADD;
text-decoration: none;
 /* justify-content: left; */
 /* align-items: baseline; */
}
.patners2-content .ll:hover{
 text-decoration: underline;
 color: gold;
}
@media screen and (max-width: 800px) {
 .patners{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
 }
}